{% extends "../layout.index.html" %}

{% block title %}
    将进酒
{% endblock %}

{% block content %}
    <div style="float: left;height: 8%;width: 95%;margin-left: 4%">
        <button class="circular ui icon button" style="float: left;margin-left: 20px;margin-top: 8px;font-size: 13px;">
            <i class="icon users"></i>
        </button>
        <button class="circular ui icon button" style="float: left;margin-left: 10px;margin-top: 8px;font-size: 13px;">
            <i class="icon settings"></i>
        </button>
    </div>
    <!--<hr style=""/>-->
    <div class="ui fitted divider" style="float: left;margin-top: -5px; width: 95%;"></div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-7">
            <div class="ui aligned basic segment">
                <span><a class="ui circular tiny image" style="width: 35px;height: 35px; margin-left: -4%;margin-top: 14px;"><img src="/resource/images/example.jpg"/></a></span>
                <span><a class="chinese _title" style="margin-left: 10px;margin-top: 200px;font-size: 18px;">李白</a></span><br/>
                <span><h5 class="chinese" style="margin-left: 20px;margin-top: -10px;">唐代诗人,人称诗仙,著有&lt;&lt;将进酒&gt;&gt; &lt;&lt;蜀道难&gt;&gt;等</h5></span>
                <span><a class="ui button chinese" style="margin-left: 50%;margin-top:-30%;"><i class="icon plus"></i> 添加关注 </a></span>
                <div class="ui fitted divider" style="float: left;margin-top: 5px; width: 80%;margin-left: -5%;"></div>
                <h3 class="chinese _title" style="margin-left: -4%;margin-top: 36px;font-size: 30px;">青玉案-横塘路</h3>
                <span style="margin-left: -4%;">喜欢: 2300</span><span>&nbsp;&nbsp;阅读: 2,300</span>
                <div class="row _cool" style="margin-left: -4%;margin-top:4%">
                    <p>凌波不过横塘路，但目送，芳尘去</p>
                    <p>锦瑟华年谁与度?</p>
                    <p>月桥花园，琐窗朱户，只有春归处</p>
                    <p>飞云冉冉蘅皋暮，彩笔新题断肠句</p>
                    <p>试问闲愁都几许？一川烟草，满城风絮，梅子黄时雨</p>
                </div>
                <div class="ui fitted divider" style="float: left;margin-top: 15px; width: 80%;margin-left: -5%;"></div><br/>
                <div class="ui labeled submit icon button" style="float: left;margin-left: -4%;margin-top: 1%;"><i class="icon heartbeat"></i> 颇有感慨 </div>
                <!--<a href="#" class="chinese _title" style="float: left;margin-left: -4%;margin-top: 1%;">颇有感慨</a>-->
                <div class="ui label" style="float: left;margin-left: 10%;margin-top: 1%;font-size: 12px;">所属标签:&nbsp;&nbsp;</div>
                <div class="ui label" style="margin-top: 1%;margin-left: 5px;"> 北宋 </div>
                <div class="ui label" style="margin-top: 1%;"> 晏几道 </div>
                <div class="ui label" style="margin-top: 1%;"> 咏人 </div>
                <div class="ui label" style="margin-top: 1%;"> 伤怀 </div>
                <div class="ui comments" style="margin-top: 50px;margin-left: -4%;">
                    <h3 class="ui dividing header">评论</h3>
                    <!--<span>Not Yet</span>-->
                    <div class="comment">
                        <a class="avatar">
                            <img src="/"/>
                        </a>
                        <div class="content">
                            <a class='author'>Super</a>
                            <div class="text">Not Yet</div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="/resource/images/avatar/small/matt.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">How artistic! </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="/images/avatar/small/elliot.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                                <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="/images/avatar/small/jenny.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Jenny Hess</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">Elliot you are always so right :) </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="/images/avatar/small/joe.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Joe Henderson</a>
                            <div class="metadata">
                                <span class="date">5 days ago</span>
                            </div>
                            <div class="text">Dude, this is awesome. Thanks so much </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <form class="ui reply form">
                        <div class="field">
                            <textarea></textarea>
                        </div>
                        <div class="ui blue labeled submit icon button"><i class="icon edit"></i> Add Reply </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2" style="margin-top: 20px;margin-left: -9%;">
            <div class="ui medium rectangle ad">
                Ad Code Goes Here
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:250px"
                     data-ad-client="ca-pub-XXXXXXXXXXXXXXXX"
                     data-ad-slot="XXXXXXXXXX"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
{% endblock %}