{% extends "layout.index.html" %}

{% block title %}
    作者详情
{% endblock %}

{% block content %}
    <div style="float: left;height: 100%;width: 30%;">
        <div class="ui center aligned basic segment">
            <a href='javascript:void(0)' class="ui circular tiny image" style="width: 100px;height: 100px; margin-top: 26%;"><img src="/resource/images/author/liqingzhao.jpg"/></a><br/>
            <span class="_title">李清照</span><br/>
            <div class="ui mini statistics" style="margin-top: 20px;">
                <div class="statistic" style="margin-left: 32%;">
                    <div class="value">
                        22
                    </div>
                    <span class="chinese">粉丝</span>
                </div>
                <div class="statistic" style="margin-left: -2%;">
                    <div class="value">
                        31,200
                    </div>
                    <span class="chinese">喜欢 </span>
                </div>
                <div class="statistic" style="margin-left: -3%;">
                    <div class="value">
                        22
                    </div>
                    <span class="chinese">关注! </span>
                </div>
            </div>
        </div>
        <h4 class="chinese" style="margin-left: 18%;margin-top: 10px;">&nbsp;&nbsp;&nbsp;李清照（1084年3月13日～1155年5月12日）号易安居士，汉族，山东省济南章丘人。宋代（南北宋之交）女词人，婉约词派代表，有“千古第一才女”之称。</h4>
        <h2  class='chinese' style="color: black;position: absolute; margin-left: 60px;bottom: 150px; font-size: 40px;">诗歌</h2>
        <h4  class='chinese' style="color: black;position: absolute; margin-left: 60px;bottom: 100px; font-size: 20px;">科学与艺术的拼凑体</h4>
        <h5 class='chinese' style="color: black; position: absolute; margin-left: 60px; bottom: 80px;">但我坦然，欣然。我将大笑，我将歌唱</h5>
    </div>
    <div class="ui vertical fitted divider" style="margin-left: -20%;"></div>
    <div style="float: left;height: 8%; width: 68.5%;">
        <span><h3 class="chinese selected choose"
                  style="float: left;margin-left: 60px;margin-top: 30px;">诗词</h3></span>
        <span><h3 class="chinese selected"
                  style="float: left;margin-left: 40px;margin-top: 30px">动态</h3></span>
        <div class="ui divider" style="margin-top: 70px;width: 65%;margin-left: 60px;"></div>
        <div class="ui grid" style="margin-top: 30px;">
            <div class="ui items" style="margin-left: 60px;">
                <div class="item">
                    <div class="content">
                        <a class="chinese selected _title">将进酒</a>
                        <div class="description chinese">
                            <p class="_intro">君不见，黄河之水天上来，奔流到海不复回。君不见，高堂明镜悲白发，朝如青丝暮成雪...&nbsp;&nbsp;<a href="/poem/show"
                                                                                                       class="selected">全文</a>
                            </p>
                        </div>
                        <div class="extra _extra">
                            <span><i class="icon heart"></i><strong>3,233</strong></span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="chinese selected _title">将进酒</a>
                        <div class="description chinese">
                            <p class="_intro">君不见，黄河之水天上来，奔流到海不复回。君不见，高堂明镜悲白发，朝如青丝暮成雪...&nbsp;&nbsp;<a href="/poem/show"
                                                                                                       class="selected">全文</a>
                            </p>
                        </div>
                        <div class="extra _extra">
                            <span><i class="icon heart"></i><strong>3,233</strong></span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="chinese selected _title">声声慢·寻寻觅觅</a>
                        <div class="description chinese">
                            <p class="_intro">寻寻觅觅，冷冷清清，凄凄惨惨戚戚...&nbsp;&nbsp;<a href="/poem/show"
                                                                                class="selected">全文</a>
                            </p>
                        </div>
                        <div class="extra _extra">
                            <span><i class="icon heart"></i><strong>3,233</strong></span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="chinese selected _title">武陵春·春晚</a>
                        <div class="description chinese">
                            <p class="_intro">风住尘香花已尽，日晚倦梳头...&nbsp;&nbsp;<a href="/poem/show"
                                                                             class="selected">全文</a>
                            </p>
                        </div>
                        <div class="extra _extra">
                            <span><i class="icon heart"></i><strong>3,233</strong></span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="chinese selected _title">武陵春·春晚</a>
                        <div class="description chinese">
                            <p class="_intro">风住尘香花已尽，日晚倦梳头...&nbsp;&nbsp;<a href="/poem/show"
                                                                             class="selected">全文</a>
                            </p>
                        </div>
                        <div class="extra _extra">
                            <span><i class="icon heart"></i><strong>3,233</strong></span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="ui right labeled icon button" style="margin-left: 7%;margin-bottom: 10px;"><span class="chinese">下一页 </span></button>
        </div>
    </div>
{% endblock %}